{% extends "base.html" %}
{% load static %}

{% block title %}{{ categoria.nombre }}{% endblock %}

{% block meta_desc %}Descubre nuestra colección de {{ categoria.nombre|lower }} en Rara Tienda. Equipamiento y accesorios para tus salidas a la naturaleza.{% endblock %}

{% block og_title %}{{ categoria.nombre }} | Rara Tienda{% endblock %}
{% block og_desc %}Explora todos nuestros productos de la categoría {{ categoria.nombre|lower }}.{% endblock %}

{% block content %}

<div class="categoria-wrapper">

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>{{ categoria.nombre }}</h1>
        <a href="{% url 'index' %}" class="btn-volver">
    ← Volver al inicio
  </a>
    </div>

<div class="catalogo2">

  {% for p in productos %}
    <div class="producto">

      {% if p.imagen %}
        <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
      {% endif %}

      {% if not p.disponible %}
        <span class="agotado">Agotado</span>
      {% endif %}

      <h3>{{ p.nombre }}</h3>
      <p>${{ p.precio }}</p>


      <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 10px;">
      
    <a href="{% url 'producto_detail' p.id %}" class="btn-categoria">Ver</a>
      
    <a href="{% url 'agregar_al_carrito' p.id %}" title="Agregar al nido" style="text-decoration: none; background: #fca311; color: white; border-radius: 50%; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 5px rgba(0,0,0,0.2); transition: transform 0.2s;">
        🪹+
    </a>

</div>

    </div>
  {% empty %}
    <p>No hay productos en esta categoría</p>
  {% endfor %}

</div>

</div>
{% endblock %}