{% extends "base.html" %}
{% load static %}

{% block title %}{{ producto.nombre }}{% endblock %}

{% block meta_desc %}{{ producto.descripcion|truncatechars:150 }}{% endblock %}

{% block og_title %}{{ producto.nombre }} | Rara Tienda{% endblock %}
{% block og_desc %}{{ producto.descripcion|truncatechars:100 }}{% endblock %}
{% block og_image %}{% if producto.imagen %}{{ request.scheme }}://{{ request.get_host }}{{ producto.imagen.url }}{% endif %}{% endblock %}

{% block content %}

<div class="producto-detalle">

  <div class="producto-contenedor">

    <!-- IMAGEN -->
    <div class="producto-imagen">
      {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
      {% else %}
        <div class="sin-imagen">Sin imagen</div>
      {% endif %}
    </div>

    <!-- INFO -->
    <div class="producto-info">

      <h1>{{ producto.nombre }}</h1>

      <p class="precio">${{ producto.precio }}</p>

      {% if producto.disponible %}
        <span class="estado disponible">Disponible</span>
      {% else %}
        <span class="estado agotado">Agotado</span>
      {% endif %}

      <p class="descripcion">
        {{ producto.descripcion }}
      </p>

      <div class="acciones">
        <a href="javascript:history.back()" class="btn-secundario">
          Volver
        </a>

        <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn-categoria">Agregar</a>

        <!--<button class="btn-principal">
          Agregar (demo)
        </button>-->
      </div>

    </div>

  </div>

</div>

{% endblock %}